header
    picture
        display: flex
        flex-direction: column
        width: 100%
        margin: auto
        margin-top: 1em
        h1
            font-family: $font-alterna
            color: $color-principal
            font-size: 25px
            text-align: center
            line-height: 33px
            width: 60%
            align-self: center
            span
                color: $color-secundario
        img
            margin-top: 1.5em
        form
            align-self: center
            display: flex
            justify-content: center
            width: 85%
            border: 1px solid $color-principal
            border-radius: 27px
            input
                border: none
                width: 80%
                font-family: $font-principal
                font-size: 16px
                color: #000000
                text-align: left
                height: 50px
                background: none
                padding-left: 1em
            input:focus
                outline: none
                outline-width: 0
                box-shadow: none
            button
                display: block
                border: none
                background: none
                margin-top: -1.2em
            button:focus
                outline: none
                outline-width: 0
                box-shadow: none
            button:hover
                cursor: pointer
    .trending
        width: 100%
        height: 18vh
        display: flex
        flex-direction: column
        align-items: center
        h2
            font-family: $font-alterna
            color: $color-principal
            font-weight: bold
            text-align: center
            font-size: 25px
            line-height: 25px
            margin-top: 1.5em
        .container-links
            margin-top: 0.5em
            width: 50%
            display: flex
            flex-wrap: wrap
            justify-content: center
            a
                text-decoration: none
                font-family: $font-alterna
                font-weight: 500
                font-size: 14px
                color: $color-principal
                text-align: center
                line-height: 25px
                display: block
                margin-left: 0.5em