picture
    display: flex
    flex-direction: column
    width: 60%
    margin: auto
    margin-top: 1em
    h1
        font-family: $font-alterna
        color: $color-principal
        font-size: 25px
        text-align: center
        line-height: 33px
        span
            color: $color-secundario
    img
        margin-top: 1em
