main
    background: #F3F5F8
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    .trending-gifos
        display: block
        height: 400px
        h2
            font-family: $font-alterna
            font-size: 20px
            color: $color-principal
            text-align: center
            line-height: 30px
            margin-top: 2em
        p
            font-family: $font-principal
            font-size: 16px
            color: #000000
            text-align: center
            line-height: 23px
            margin-top: 1em
        .container-carrousel
            display: flex
            margin: auto
            max-width: 400px
            height: 250px
            width: 100%
            overflow-x: scroll
            scroll-snap-type: x mandatory
            .img-gif-slider
                display: block
                height: 100%
                width: 100%
                object-fit: cover
                scroll-snap-align: center
                border: 10px solid rgba(0, 0, 0, 0)
                cursor: pointer
