nav
    display: flex
    justify-content: space-between
    #menu
        margin-top: 1em
        margin-right: 1em
    #logo
        margin-top: 0.5em
        margin-left: 1em
        font-family: $font-principal
