@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}

/** NAVBAR **/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav label {
  padding: 1em;
}

.menu-burguer {
  margin-top: 1.5em;
  margin-right: 1em;
  cursor: pointer;
}

.link-home {
  display: block;
  margin-left: 1em;
  margin-top: 1.2em;
}

.menu {
  display: none;
  position: fixed;
  z-index: 100;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 135vh;
  overflow: hidden;
  opacity: 90%;
  margin-top: 5em;
  padding-top: 2em;
  background-color: #572EE5;
}

.menu li {
  list-style: none;
  text-align: center;
  width: 100%;
  height: 2em;
}

.menu li .item-menu {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
  display: block;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.menu li .disabled {
  color: #9CAFC3;
  cursor: default;
}

.menu li span {
  border: 1px solid #ffffff;
  height: 0;
  width: 2.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  opacity: 0.5;
}

.bar {
  height: 5px;
  background-color: #572EE5;
  width: 100%;
  display: block;
}

@media (min-width: 650px) {
  .menu-burguer {
    display: none;
  }
  .menu {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    background-color: #ffffff;
    width: 60%;
    height: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 0;
    overflow: visible;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu li {
    width: auto;
  }
  .menu li .item-menu {
    color: #572EE5;
    font-size: 13px;
    letter-spacing: 0;
    font-weight: 700;
    width: auto;
    height: 24px;
  }
  .menu li .item-menu:hover {
    border-bottom: 3px solid #50E3C2;
  }
  .menu li .item-menu:active {
    color: #9CAFC3;
    border: none;
  }
  .menu li .disabled:hover {
    border-bottom: none;
  }
  .menu li .disabled:active {
    color: #572EE5;
  }
  .menu li .item-crear-gifo {
    text-decoration: none;
    display: block;
    height: 54px;
    width: 54px;
    border: 1px solid #572EE5;
    border-radius: 54px;
    margin-top: -10px;
    margin-right: 10px;
    text-align: center;
    line-height: 54px;
    font-size: 30px;
    font-weight: 300;
    color: #572EE5;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
  }
  .menu li .item-crear-gifo:hover {
    background-color: #572EE5;
    color: #ffffff;
  }
  .menu li .item-crear-gifo:active {
    background-color: #9CAFC3;
    border: 1px solid #9CAFC3;
  }
  .menu li .disabled-crear {
    background-color: #9CAFC3;
    border: 1px solid #9CAFC3;
    color: #ffffff;
  }
  .menu li .disabled-crear:hover {
    background-color: #9CAFC3;
    border: 1px solid #9CAFC3;
    color: #ffffff;
    cursor: default;
  }
  .menu li .disabled-crear:active {
    background-color: #9CAFC3;
    border: 1px solid #9CAFC3;
    color: #ffffff;
  }
  .menu .span-li {
    display: none;
  }
}

/** FOOTER **/
footer {
  display: block;
  width: 100%;
  height: 150px;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90%;
}

footer .footer-container h3 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  font-weight: 200;
  text-align: center;
}

footer .footer-container .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer-container p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
}

@media (min-width: 600px) {
  footer .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
  }
  footer .footer-container h3 {
    margin-left: 5%;
    font-size: 13px;
  }
  footer .footer-container .icon-container {
    max-width: 100px;
    margin-left: -25%;
    margin-top: 1%;
  }
  footer .footer-container p {
    font-size: 13px;
  }
}

@media (min-width: 700px) {
  footer .footer-container h3 {
    margin-left: 5%;
  }
  footer .footer-container .icon-container {
    max-width: 150px;
    margin-left: -35%;
  }
}

@media (min-width: 900px) {
  footer .footer-container .icon-container {
    margin-left: -50%;
  }
}

@media (min-width: 1100px) {
  footer .footer-container .icon-container {
    margin-left: -60%;
  }
}

/** CAMARA-SECTION **/
.display-section {
  margin-top: 5em;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 500px;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.display-section .camera-container {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.display-section .camera-container .cintas-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: absolute;
  margin-top: -15em;
  margin-left: -6em;
}

.display-section .camera-container .camara-luz-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.display-section .camera-container .camara-luz-container .camera {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.display-section .camera-container .camara-luz-container .luz {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.display-section .camera-container .camara-luz-container .luz img {
  margin-top: -1.5em;
}

.display-section .number-container {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display-section .number-container .video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 688px;
  height: 390px;
  border: 1px solid #572EE5;
}

.display-section .number-container .video-container .gif.recorder {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
}

.display-section .number-container .video-container .create-gifo-container {
  margin-top: -9.4em;
  height: 370px;
  width: 668px;
  position: relative;
  -webkit-box-shadow: 0 0 0 4px #ffffff inset;
          box-shadow: 0 0 0 4px #ffffff inset;
  background-color: #ffffff;
}

.display-section .number-container .video-container .create-gifo-container::after {
  content: "";
  height: 378px;
  width: 676px;
  position: absolute;
  top: -4px;
  left: -4px;
  z-index: -1;
  background-image: linear-gradient(to left, transparent 15px, white 15px, white 660px, transparent 660px), linear-gradient(#50E3C2 15px, transparent 15px, transparent 360px, #50E3C2 360px);
}

.display-section .number-container .video-container .create-gifo-container .text-gifo-container {
  height: 100%;
  margin-top: 8em;
}

.display-section .number-container .video-container .create-gifo-container .text-gifo-container h2 {
  margin: auto;
  width: 85%;
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
  text-align: center;
  font-size: 25px;
  line-height: 35px;
  font-weight: bold;
}

.display-section .number-container .video-container .create-gifo-container .text-gifo-container h2 span {
  color: #50E3C2;
}

.display-section .number-container .video-container .create-gifo-container .text-gifo-container p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 29px;
  margin: auto;
}

.display-section .number-container .video-container .no-visible {
  display: none;
  visibility: hidden;
}

.display-section .number-container .icon-numbers {
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.display-section .number-container .icon-numbers .button-number {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #572EE5;
  text-align: center;
  border: 1px solid #572EE5;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  font-weight: medium;
  line-height: 32px;
  margin-top: 3.5em;
  margin-bottom: 2em;
}

.display-section .number-container .icon-numbers .button-act {
  background-color: #572EE5;
  color: #ffffff;
}

.display-section .number-container .bottom-bar {
  margin: 2em;
  height: 7px;
  width: 100%;
  max-width: 796px;
  background-color: #572EE5;
  display: block;
  border-radius: 7px;
}

.display-section .cinta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.display-section .cinta-container img {
  position: relative;
  margin-bottom: 2em;
}

.display-section .cinta-container {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

.control-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 22vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.control-section button {
  display: block;
  height: 50px;
  width: 127px;
  border: 1px solid #572EE5;
  border-radius: 25px 25px;
  background-color: #ffffff;
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  letter-spacing: 0;
  text-align: center;
  font-weight: 600;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  cursor: pointer;
}

.control-section button:hover {
  background-color: #572EE5;
  color: #ffffff;
}

.control-section #camera-grabar {
  display: none;
}

.control-section #camera-finalizar {
  display: none;
}

.control-section #gif-upload {
  display: none;
}
